<!doctype html>
<!--
 This page is shown when the extension button is clicked, because the
 "browser_action" field in manifest.json contains the "default_popup" key with
 value "popup.html".
 -->
<html ng-app="myApp">
  <head>
    <script src="/js/angular/angular.min.js"></script>

     <script src="/app.js"></script>
    <title>Getting Started Extension's Popup</title>
    <style>
      @import url('/css/foundation.css');

      body {
        
        background: url("/img/bg-texture-01.jpg");
        font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
        font-size: 100%;
      }
      #status {
        /* avoid an excessively wide status text */
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 400px;
      }

      #logo {
        margin:16px;
        width:80px;
        height:50px;
      }

    </style>

    <!--
      - JavaScript and HTML must be in separate files: see our Content Security
      - Policy documentation[1] for details and explanation.
      -
      - [1]: https://developer.chrome.com/extensions/contentSecurityPolicy
     -->

  </head>
  <body ng-controller="customerCareCtrl">   
    <div style="width:400px">
      <img src="/img/Kaltura.svg" id="logo"/>
        <div class="row">
          <div class="large-12 columns">
            <h4>Search for a JIRA ticket</h4>
            <div class="row collapse">
              <div class="small-10 columns">
                <input autofocus my-enter="openJira()" class="textbox" type="text" ng-model="jira" placeholder="JIRA Number">
              </div>
              <div class="small-2 columns">
                <a href="#" class="button  postfix" ng-click="openJira()">Go</a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>

